@font-face {
	font-family: "Jost";
	src: url("/fonts/jost-400.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: "Jost";
	src: url("/fonts/jost-400-italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
    font-display: swap;
}
@font-face {
	font-family: "Jost";
	src: url("/fonts/jost-500.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: "Jost";
	src: url("/fonts/jost-500-italic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
    font-display: swap;
}
@font-face {
	font-family: "Jost";
	src: url("/fonts/jost-600.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: "Jost";
	src: url("/fonts/jost-600-italic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
    font-display: swap;
}
@font-face {
	font-family: "Jost";
	src: url("/fonts/jost-700.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: "Jost";
	src: url("/fonts/jost-700-italic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/poppins-regular.ttf')  format("truetype");;
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-italic.ttf')  format("truetype");;
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/poppins-medium.ttf')  format("truetype");;
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-mediumitalic.ttf')  format("truetype");;
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-bold.ttf')  format("truetype");;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-bolditalic.ttf')  format("truetype");;
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
