@media (max-width: 991px) {
    section>[class*="container-fluid"] {
        padding: 0;
    }

    section {
        .container-fluid {
            .space-block {
                padding: 60px;
            }
            .only-img-block {
                height: 300px;
            }
        }
    }

    .top {
        ul.address {
            li:first-child {
                display: none;
            }
        }
    }

    .header {
        .logo {
            text-align: center;
            img {
                display: inline-block;
                margin: 0 auto;
            }
        }
    }
}
